.building {
  height: 80vh;
  width: 100%;
  position: relative;
  .floors {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }
  .shafts {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
  }
}

.floor {
  flex-grow: 1;
  border: 2px solid black;
  border-top: 0px;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: calc(20vh); // TODO: assumes 4 floors
  .floor-button-panel {
    padding: 3px;
    border: 2px solid rgb(155, 155, 152);
    display: flex;
    align-self: center; // TODO: assumes 2 cars
    flex-direction: column;
    &.hidden {
      visibility: hidden;
      background-color: #1a7f37;
    }
    button {
      background-color: gray;
      &.lit {
        color: #ffffff;
        background-color: #d2bd3c;
      }
    }

  }
}

.shaft {
  width: 250px;
  border: 4px solid black;
  border-bottom: 2px solid black;
  border-top: 0;
  background-color: #607072;
}

.car {
  position: absolute;
  width: 246px;
  border: 2px solid #545454;
  height: calc(20vh - 5px); // TODO: assumes 4 floors
  background-color: rgba(255, 255, 255, 0.78);
  display: flex;
  justify-content: space-between;
  transition: 1s ease-in-out;
  .door {
    height: 100%;
    flex-grow: 1;
    background-color: rgba(85, 131, 218, 0.78);
    border: 1px solid black;
    transition: 1.5s ease-in-out;
    min-width: 15px;
    &.isOpen {
      width: 15px;
      flex-grow: 0;
      transition: 1.5s ease-in-out;
    }
  }
}

.car-floor-0 {
  top: calc(60vh); // TODO: assumes 4 floors
}

.car-floor-1 {
  top: calc(40vh); // TODO: assumes 4 floors
}

.car-floor-2 {
  top: calc(20vh); // TODO: assumes 4 floors
}

.car-floor-3 {
  top: calc(0px); // TODO: assumes 4 floors
}

.internal-requests {
  position: fixed;
  bottom: 0px;
  height: calc(20vh - 64px);
  width: 100%;
  display: flex;
  gap: 100px;
  justify-content: space-evenly;
}
