<div class="building">

  <div class="shafts" [style]="getShaftsStyle()">
    <div *ngFor="let car of cars" [style]="getShaftStyle()">
      <app-car [car]="car"
               [carCount]="cars.length"
               [floorCount]="floors.length"></app-car>
    </div>
  </div>
  <div class="floors">
    <app-floor *ngFor="let floor of floors; index as i"
               [floor]="floor"
               [floorCount]="floors.length"
               [isTop]="i === floors[floors.length - 1].id"
               [isBottom]="i === floors[0].id"
               [floorKeyToRequest]=floorKeyToRequest></app-floor>
  </div>
</div>

<div class="internal-buttons">
  <app-internal-buttons *ngFor="let car of cars"
                        [car]="car"
                        [carCount]="cars.length"
                        [floorKeyToRequest]=floorKeyToRequest></app-internal-buttons>
</div>
<div class="select-all-panel">
  <button mat-mini-fab
          (click)="onSelectAll()"
          title="Select All">
    <mat-icon>select_all</mat-icon>
  </button>
</div>

