.building {
  height: 80vh;
  width: 100%;
  position: relative;
  .floors {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }
  .shafts {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
  }
}

.internal-buttons {
  position: fixed;
  bottom: 0px;
  height: calc(20vh - 64px);
  width: 100%;
  display: flex;
  gap: 100px;
  justify-content: space-evenly;
  background-color: #2e3439;
}
