<div class="building">

  <div class="shafts">
    @for (car of cars; track car) {
    <div class="shaft">
      <div [ngClass]="getCarClass(car)">
        <div class="door {{car.isDoorOpen ? 'isOpen' : ''}}"></div>
        <div class="door {{car.isDoorOpen ? 'isOpen' : ''}}"></div>
      </div>
    </div>
    }
  </div>
  <div class="floors">
    <app-floor *ngFor="let floor of floors; index as i"
               [floor]="floor"
               [isTop]="i === floors[floors.length - 1].id"
               [isBottom]="i === floors[0].id"
               [floorKeyToRequest]=floorKeyToRequest></app-floor>
  </div>
</div>

<div class="internal-buttons">
  <app-internal-buttons *ngFor="let car of cars" [car]="car" [floorKeyToRequest]=floorKeyToRequest></app-internal-buttons>
</div>
