.panel-container {
  display: flex;
  .button-container {
    padding: 3px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
}

.label {
  color: white;
  margin-top : 10px;
}

button {
  height: 30px;
  width: 30px;
  margin: 5px;
  background-color: gray;
  &.lit {
    color: #ffffff;
    background-color: #d2bd3c;
  }
}
